---
import Pills from "./Pills.astro";

interface Props {
  title: string;
  description: string;
  img: string;
  technologies: string[];
  tags: string[];
  links: {
    name: string;
    link: string;
  }[];
  startDate: string;
  endDate: string;
  company: string;
  companyLogo: string;
}

const {
  title,
  description,
  img,
  technologies,
  tags,
  company,
  companyLogo,
  startDate,
  endDate,
  links,
} = Astro.props;
---

<div class="mb-8 flex h-full flex-col items-center gap-3 md:mb-0">
  <div class="flex flex-col text-center md:h-6/12 md:px-2">
    <span class="text-theme-text-light mb-4 text-center text-xl font-bold"
      >{title}</span
    >
    <span class="text-theme-text-light2 text-pretty">{description}</span>
  </div>

  <div class="flex flex-col items-center gap-2 md:h-6/12">
    <Pills pills={technologies} pillStyle="black" />
    <Pills pills={tags} pillStyle="blue-1" />
  </div>
</div>

<div class="absolute bottom-4 left-4 rounded-full bg-white p-1">
  <img src={companyLogo} alt={company} class="h-7 w-auto rounded-lg" />
</div>
